@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(220, 220, 220) !important;
  font-family:'Crimson Text', serif !important;
}

section {
  text-align: left;
  font-size: 1.1rem;
  color: #3c4046;
  margin-bottom: 100px;
}

.modal-body {
  font-family:'Crimson Text', serif !important;
  font-size: 1.1rem;
}

h1 {
  color: rgb(0, 133, 22);
}

h3 {
  color: rgb(20,20,20)
}


.right-letters {
  display: flex;
  flex-direction: row;

  width: 97vw;
}

.a, .b, .c {
  position: absolute;
  text-shadow:     -0.4vw -0.2vw 0vw rgba(42, 57, 143, 1),

	
	                 -0.5vw -.1vw .5vw rgba(0,0,0,.05),
	                 -0.5vw -.1vw .3vw rgba(0,0,0,.2),
	                 -0.5vw -.1vw .5vw rgba(0,0,0,.2),
	                 -0.5vw -.1vw 1.0vw rgba(0,0,0,.2),
	                 -0.5vw -1.0vw 1.0vw rgba(0,0,0,.2);
}


.c1 {
  background: rgb(17, 110, 32);
}
.c2 {
  background: rgb(165, 165, 165);
}
.c3 {
  background: rgb(20, 20, 102);
}


@keyframes cycle1{
  0%{
    transform: rotateX(0deg); 
  }
  28.5714%{
    transform: rotateX(0deg);
  }
  33.3333%{
    transform: rotateX(-120deg);
  }
  61.9047%{
    transform: rotateX(-120deg);
  }
  66.6666%{
    transform: rotateX(-240deg);
  }
  95.238%{
    transform: rotateX(-240deg);
  }
  100%{
    transform: rotateX(-360deg);
  }
}

@keyframes cycle2{
  0%{
    transform: rotateX(0deg); 
  }
  28.5714%{
    transform: rotateX(0deg);
  }
  33.3333%{
    transform: rotateX(120deg);
  }
  61.9047%{
    transform: rotateX(120deg);
  }
  66.6666%{
    transform: rotateX(240deg);
  }
  95.238%{
    transform: rotateX(240deg);
  }
  100%{
    transform: rotateX(360deg);
  }
}


@media only screen and (min-width: 992px) {  
  #side_nav, .navbar-nav {
    position: fixed !important;
    display: flex !important;
    flex-direction: column !important;
    left: 0 !important;
    width: 150px !important;
    height: 100vh;
    background-color: rgb(35, 35, 35);
  }
  .navbar-brand {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .nav, .navbar-collapse{
    margin-top: 50vh;
    flex-direction: column !important;
  }

  .nav-link {
    color: white !important;
    font-size: 1.1rem;
  }
  .nav-link:hover {
    color:rgb(0, 133, 22) !important;
  }

  section {
    margin-left: 125px;
  }

  .resume {
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
  }
  .left-align-resume {
    display: flex;
    flex-direction: column;
    width: 60vw;
  }
  .right-align-date {
    white-space: nowrap;
    text-align: right;
  }

  .banner {
    height: 40vw;
    margin-left: 150px;
    margin-right: 15vw;
    color: rgb(47, 165, 86);
    font-weight: bold;
    position: relative;
    left: 0;
    overflow: hidden;
  }
  
  .container {
    top: 4%;
    max-width: 97vw !important;
    width: 97vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(47, 165, 86);
    position: relative;
    margin: auto auto;
  }

  .prism-slider {
    width: 5vw;
    height: 10vw;
    position: relative;
    transform-style: preserve-3d;
    animation-name: var(--cycle);
    animation-duration:  12s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  .prism-slider .side{
    width: 5vw;
    height: 10vw;
    display: block;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    text-align: center;
    line-height: 10vw;
  }

  .side.a{
    transform: rotateX(0deg) translateZ(2.88vw);
  }
  
  .side.b{
    transform: rotateX(120deg) translateZ(2.88vw);
  }
  
  .side.c{
    transform: rotateX(240deg) translateZ(2.88vw);
  }

  .skills {
    margin-left: 5vw;
    display: flex;
    flex-wrap: wrap;
  }
  .cell {
    display: block;
    width: 18vw;
    margin-right: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li:before {
    margin-left: -30px;
    margin-right: 20px;
    content: '✓';
    font-weight: bold;
    color: rgb(0, 133, 22);
  }
  
  .padding {
    padding: 2vh;
  }
  
  .fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 133, 22, 0.75);
  }
  
  .fa:hover {
    color: rgb(0, 133, 22);
    background: rgba(42, 57, 143, 1);
    text-decoration: none;
  }
  
  .social-icons {
    width: 7rem; 
    position: fixed;
    z-index: 1;
    right: 0;
    top: 70%;
    overflow-x: hidden;
    padding-left: 3vh;
    padding-bottom: 3vh;
    margin-left: 0;
  }
  
  .social-icons a {
    display: block;
    height: 3rem;
    width: 3rem;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: 1rem;
  }

  .helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .pic {
    width: 35vw;
    border: solid 3px rgb(35, 35, 35);
    vertical-align: middle;
  }
  
  img {
    vertical-align: middle;
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
  
  .project {
    display: flex;
    justify-content: start;
  }

  .description {
    width: 35vw;
    margin-left: 50px;
  }

  .buttons a {
    padding: 10px;
    margin-right: 50px;
    height: 50px;
    border: solid 1px rgb(0, 133, 22);
    border-radius: 0.25rem;
    color: #3c4046;
  }

  .buttons a:hover, .btn:hover {
    text-decoration: none;
    color: white !important;
    background-color: rgba(0, 133, 22, 0.7);
  }

  .buttons {
    display: flex;
  }
  .btn {
    height: 50px;
    margin-right: 50px;
    font-family: 'Crimson Text', serif !important;
    font-size: 1.1rem !important;
    color: rgb(35,35,35) !important;
    border: solid 1px rgb(0, 133, 22) !important;
    border-radius: 0.25rem !important;
  }

  .btn:hover {
    color: white !important;
    background-color: rgba(0, 133, 22, 0.7);
  }

    /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe !important;
    opacity: 1;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100% !important; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (max-width: 991px) {
  :target {
    scroll-margin-top: 400px;
  }

  .banner {
    height: 40vw;
    margin-top: 75px;
    margin-left: 0px;
    margin-right: auto;
  }

  .navbar {
    background-color: rgb(35, 35, 35);

  }
  
  .nav-link {
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  }

  .nav-link:hover {
    color: rgb(0, 133, 22) !important;
  }

  section {
    margin-left: 0;
  }

  .resume {
    display: block;
  }
  .left-align-resume {
    display: flex;
    flex-direction: column;
    width: 88vw;
  }
  .right-align-date {
    text-align: left;
  }

  .banner {
    padding-left: 5vw;
    justify-content: left;
    top: -5vh;
    width: 97vw;
    color: rgb(47, 165, 86);
    font-weight: bold;
    position: relative;
    left: 0;
    overflow: hidden;
  }
  
  .container {
    max-width: 97vw !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 97vw;
    height: 13vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: rgb(47, 165, 86);
    position: relative;
  }

  .prism-slider {
    justify-content: center;
    left: 0;
    width: 6.5vw;
    height: 13vw;
    position: relative;
    transform-style: preserve-3d;
    animation-name: var(--cycle);
    animation-duration:  12s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  .prism-slider .side{
    width: 6.5vw;
    height: 13vw;
    display: block;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    text-align: center;
    line-height: 13vw;
  }

  .side.a{
    transform: rotateX(0deg) translateZ(3.75vw);
  }
  
  .side.b{
    transform: rotateX(120deg) translateZ(3.75vw);
  }
  
  .side.c{
    transform: rotateX(240deg) translateZ(3.75vw);
  }

  .skills {
    margin-left: 5vw;
    display: flex;
    flex-wrap: wrap;
  }
  .cell {
    display: block;
    width: 40vw;
  }
  
  ul {
    list-style-type: none;
  }
  
  li:before {
    margin-left: -30px;
    margin-right: 20px;
    content: '✓';
    font-weight: bold;
    color: rgb(0, 133, 22);
  }
  
  .padding {
    padding: 2vh;
  }
  
  .fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 133, 22, 0.75);
  }
  
  .fa:hover {
    color: rgb(0, 133, 22);
    background: rgba(42, 57, 143, 1);
    text-decoration: none;
  }
  
  .social-icons {
    width: 7rem; 
    position: fixed;
    z-index: 1;
    right: 0;
    top: 70%;
    overflow-x: hidden;
    padding-left: 3vh;
    padding-bottom: 3vh;
    margin-left: 0;
  }
  
  .social-icons a {
    display: block;
    height: 3rem;
    width: 3rem;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: 1rem;
  }

  .helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .pic {
    width: 88vw;
    border: solid 3px rgb(35, 35, 35);
    vertical-align: middle;
  }
  
  img {
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
  }
  
  .project {
    display: block;
  }

  .description {
    width: 88vw;
  }

  .buttons {
    text-align: center;
  }

  .buttons a {
    padding: 10px;
    margin-right: 50px;
    height: 50px;
    border: solid 1px rgb(0, 133, 22);
    border-radius: 0.25rem;
    color: #3c4046;
  }

  .buttons a:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 133, 22, 0.7);
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
  .btn {
    height: 50px;
    margin-right: 50px;
    font-family: 'Crimson Text', serif !important;
    font-size: 1.1rem !important;
    color: rgb(35,35,35) !important;
    border: solid 1px rgb(0, 133, 22) !important;
    border-radius: 0.25rem !important;
  }

  .btn:hover {
    color: white !important;
    background-color: rgba(0, 133, 22, 0.7);
  }

}

@media only screen and (max-width: 650px) {
  .cell {
    display: block;
    width: 80vw;
  }

  .social-icons {
    padding-left: 2vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%; 
    z-index: 1;
    top: 70%;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .social-icons a {
    padding-left: 0px;
    height: 3rem;
    width: 3rem;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: 1rem;
    margin-right: 17px;
  }
}

.link {
  color: #3c4046;
}

.link:hover {
  color: rgb(0, 133, 22) !important;
  text-decoration: none;
}

.logo, .navbar-brand {
  color:rgb(0, 180, 60) !important;
  font-weight: bold !important;
  font-size: 48px !important;
  text-shadow:     -2px -1px 0px rgba(42, 57, 143, 1),
	                 -2px -1px 0px rgba(42, 57, 143, 1),
	                 -2px -1px 0px rgba(42, 57, 143, 1),
	                 -2px -1px 0px rgba(42, 57, 143, 1),
	                 -2px -1px 0px rgba(42, 57, 143, 1),
	                 -2px -1px 0px rgba(42, 57, 143, 1),
	                 -2px -1px 0px rgba(42, 57, 143, 1),
	                 -2px -1px 0px rgba(42, 57, 143, 1),
	
	                 -5px -1px 5px rgba(0,0,0,.05),
	                 -5px -1px 3px rgba(0,0,0,.2),
	                 -5px -1px 5px rgba(0,0,0,.2),
	                 -5px -1px 10px rgba(0,0,0,.2),
	                 -5px -10px 10px rgba(0,0,0,.2),
	                 -5px -10px 20px rgba(0,0,0,.3);
}

.heading, .resume {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
}

.skill {
  color:rgb(20, 20, 20)
}






/*PACMAN STUFF*/

.black {
  height: 90vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: black;
  overflow: hidden;
  border: double 10px rgb(0, 0, 200);
  z-index: -1;
}

.black:after {
  position: absolute;
  left: 0;
  vertical-align: middle;
  content: '';
  background: black;
  width: 10px;
  height: 10vw;
  z-index: 0;
}

.black:before {
  position: absolute;
  right: 0;
  vertical-align: middle;
  content: '';
  background: black;
  width: 10px;
  height: 10vw;
  z-index: 0;
}

.pac {
  height: 5.6vw;
  width: 5.6vw;
  position: relative;
  animation-name: move;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.pac-top{
  background-color:yellow;
  height:50%;
  width:100%;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
  vertical-align: middle;
}

.pac-bottom{
  background-color:yellow;
  height:50%;
  width:100%;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
  vertical-align: middle;
}

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@keyframes move {
  from {left: -10%}
  to {left: 105%}
}

svg {
  overflow: hidden;
}

@keyframes feet {
  0% {
    box-shadow:
      2.5em 0 var(--ghost-color),
      5em 0 var(--ghost-color),
      7.5em 0 var(--ghost-color),
      10em 0 var(--ghost-color),
      12.5em 0 var(--ghost-color),
      15em 0 var(--ghost-color),

      5em 5em var(--ghost-color),
      7.5em 5em var(--ghost-color),
      10em 5em var(--ghost-color),

      30em 0 var(--ghost-color),
      32.5em 0 var(--ghost-color),
      35em 0 var(--ghost-color),
      37.5em 0 var(--ghost-color),
      40em 0 var(--ghost-color),
      42.5em 0 var(--ghost-color),
      45em 0 var(--ghost-color),

      35em 5em var(--ghost-color),
      37.5em 5em var(--ghost-color),
      40em 5em var(--ghost-color),

      60em 0 var(--ghost-color),
      62.5em 0 var(--ghost-color),
      65em 0 var(--ghost-color),
      67.5em 0 var(--ghost-color),
      70em 0 var(--ghost-color),
      73em 0 var(--ghost-color),
      76em 0 var(--ghost-color),

      65em 5em var(--ghost-color),
      67.5em 5em var(--ghost-color),
      70em 5em var(--ghost-color)
  ;
  }
  50% { 
    box-shadow:
        0 6em var(--ghost-color),
        4em 0 var(--ghost-color),
        
        20em 0 var(--ghost-color),
        24em 0 var(--ghost-color),
        28em 0 var(--ghost-color),
        24em 6em var(--ghost-color),
        28em 6em var(--ghost-color),
      
        48em 0 var(--ghost-color),
        52em 0 var(--ghost-color),
        56em 0 var(--ghost-color),
        48em 6em var(--ghost-color),
        52em 6em var(--ghost-color),

        72em 0 var(--ghost-color), 
        76em 0 var(--ghost-color),
        76em 6em var(--ghost-color)
      ;
  }
  100% {
    box-shadow:
      2.5em 0 var(--ghost-color),
      5em 0 var(--ghost-color),
      7.5em 0 var(--ghost-color),
      10em 0 var(--ghost-color),
      12.5em 0 var(--ghost-color),
      15em 0 var(--ghost-color),

      5em 5em var(--ghost-color),
      7.5em 5em var(--ghost-color),
      10em 5em var(--ghost-color),

      30em 0 var(--ghost-color),
      32.5em 0 var(--ghost-color),
      35em 0 var(--ghost-color),
      37.5em 0 var(--ghost-color),
      40em 0 var(--ghost-color),
      42.5em 0 var(--ghost-color),
      45em 0 var(--ghost-color),

      35em 5em var(--ghost-color),
      37.5em 5em var(--ghost-color),
      40em 5em var(--ghost-color),

      60em 0 var(--ghost-color),
      62.5em 0 var(--ghost-color),
      65em 0 var(--ghost-color),
      67.5em 0 var(--ghost-color),
      70em 0 var(--ghost-color),
      73em 0 var(--ghost-color),
      76em 0 var(--ghost-color),

      65em 5em var(--ghost-color),
      67.5em 5em var(--ghost-color),
      70em 5em var(--ghost-color)
  ;
  }
}

.inky {
  position: relative;
  height: 5.6vw;
  width: 5.6vw;
  animation-name: move-inky;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  font-size: 0.1vw;
}

.blinky {
  position: relative;
  height: 5.6vw;
  width: 5.6vw;
  animation-name: move-blinky;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  font-size: 0.1vw;
}

.pinky {
  position: relative;
  height: 5.6vw;
  width: 5.6vw;
  animation-name: move-pinky;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  font-size: 0.1vw;
}

.clyde {
  position: relative;
  height: 5.6vw;
  width: 5.6vw;
  animation-name: move-clyde;
  animation-duration: 64s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  font-size: 0.1vw;
}

@keyframes move-inky {
  0% {
    top: -40%;
    left: 40%;
  }
  12.5% {
    top: -40%;
    left: -5%;
  }
  25% {
    top: 40%;
    left: -5%;
  }
  37.5% {
    top: 40%;
    left: 40%;
  }
  43.75% {
    top: 0;
    left: 15%;
  }
  50% {
    top: -40%;
    left: 40%;
  }
  62.5% {
    top: -40%;
    left: 88%;
  }
  75% {
    top: 40%;
    left: 88%;
  }
  87.5% {
    top: 40%;
    left: 40%;
  }
  93.75% {
    top: 0;
    left: 65%;
  }
  100% {
    top: -40%;
    left: 40%;
  }
}

@keyframes move-blinky {
  0% {
    top: 40%;
    left: 35%;
  }
  12.5% {
    top: 40%;
    left: 83%;
  }
  25% {
    top: -40%;
    left: 83%;
  }
  37.5% {
    top: -40%;
    left: 35%;
  }
  43.75% {
    top: 0;
    left: 55%;
  }
  50% {
    top: 40%;
    left: 35%;
  }
  62.5% {
    top: 40%;
    left: -10%;
  }
  75% {
    top: -40%;
    left: -10%;
  }
  87.5% {
    top: -40%;
    left: 35%;
  }
  93.75% {
    top: 0;
    left: 15%;
  }
  100% {
    top: 40%;
    left: 35%;
  }
}

@keyframes move-pinky {
  0% {
    top: 0;
    left: 30%;
  }
  12.5% {
    top: 40%;
    left: 10%;
  }
  25% {
    top: 0;
    left: -10%;
  }
  37.5% {
    top: -40%;
    left: 10%;
  }

  62.5% {
    top: 40%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 75%;
  }
  87.5% {
    top: -40%;
    left: 50%;
  }
  100% {
    top: 0;
    left: 30%;
  }
}

@keyframes move-clyde {
  0% {
    top: 0;
    left: -40%;
  }
  1.25% {
    top: 0%;
    left: -20%;
  }
  2.5% {
    top: -15%;
    left: 0%;
  }
  5% {
    top: -15%;
    left: -5%;
  }
  7.5% {
    top: 25%;
    left: 0%;
  }
  8.75% {
    top: 20%;
    left: 0%;
  }
  10% {
    top: 15%;
    left: 0%;
  }
  11.25% {
    top: 0%;
    left: -10%;
  }
  12.5% {
    top: -1%;
    left: -12%;
  }
  14.25% {
    top: 0%;
    left: 10%;
  }
  15% {
    top: -15%;
    left: 20%;
  }
  16.25% {
    top: -15%;
    left: 5%;
  }
  17.5% {
    top: -35%;
    left: 0%;
  }
  18.25% {
    top: -35%;
    left: -10%;
  }
  20% {
    top: 0%;
    left: 0%;
  }
  20.75% {
    top: -30%;
    left: 0%; 
  }
  21.5% {
    top: -22%;
    left: -2%;
  }
  22% {
    top: -15%;
    left: 5%;
  }
  22.5% {
    top: 20%;
    left: 5%;
  }
  23.25% {
    top: 25%;
    left: 40%;
  }
  25% {
    top: 30%;
    left: 65%;
  }
  26% {
    top: 40%;
    left: 55%;
  }
  26.5% {
    top: 25%;
    left: 50%;
  }
  31% {
    top: 20%;
    left: 20%;
  }
  32.5% {
    top: 20%;
    left: 19%;
  }
  34% {
    top: 20%;
    left: -10%;
  }
  40% {
    top: 20%;
    left: -10%;
  }
  45% {
    top: 0%;
    left: 20%;
  }
  47% {
    top: 0%;
    left: 55%;
  }
  48% {
    top: -20%;
    left: 55%;
  }
  52% {
    top: -20%;
    left: 40%;
  }
  54% {
    top: -15%;
    left: 45%;
  }
  58% {
    top: -15%;
    left: 5%;
  }
  60% {
    top: -12%;
    left: 5%;
  }
  62% {
    top: -20%;
    left: -10%;
  }
  78.125% {
    top: -20%;
    left: -10%;
  }
  79.6875% {
    top: -20%;
    left: 20%;
  }
  81.25% {
    top: -20%;
    left: 50%;
  }
  82.8125% {
    top: 20%;
    left: 50%;
  }
  84.375% {
    top: 20%;
    left: 20%;
  }
  85.9375% {
    top: -20%;
    left: 20%;
  }
  87.5% {
    top: -20%;
    left: 50%;
  }
  89.0625% {
    top: 10%;
    left: 50%;
  }
  90.625% {
    top: -15%;
    left: 40%;
  }
  92.1875% {
    top: -20%;
    left: 20%;
  }
  93.75% {
    top: 0%;
    left: 5%;
  }
  95.3125% {
    top: 20%;
    left: 20%;
  }
  96.875% {
    top: 20%;
    left: 40%;
  }
  97.6% {
    top: 30%;
    left: 45%;
  }
  98.4375% {
    top: 15%;
    left: 40%;
  }
  99.2% {
    top: 0%;
    left: 50;
  }
  100% {
    top: 0%;
    left: 75%;
  }
}

.ghost-body {
  fill: var(--ghost-color);
}

.left-eye {
  background: #fff;
  position: absolute;
    top: 20%;
    left: 16%;
  width: 1vw;
  height: 1.5vw;
  animation-name: var(--ghost-eyeballs);
  animation-duration: 16s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
} 

.right-eye {
  background: #fff;
  position: absolute;
    top: 24%;
    left: 45%;
  width: 1vw;
  height: 1.5vw;
  animation-name: var(--ghost-eyeballs);
  animation-duration: 16s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
} 

.left-eye-clyde {
  background: #fff;
  position: absolute;
    top: 20%;
    left: 16%;
  width: 1vw;
  height: 1.5vw;
  animation-name: var(--ghost-eyeballs);
  animation-duration: 64s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
} 

.right-eye-clyde {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 45%;
  width: 1vw;
  height: 1.5vw;
  animation-name: var(--ghost-eyeballs);
  animation-duration: 64s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
} 

.inner-eye-clyde {
  background: blue;
  position: absolute;
    top: 25%;
    left: 50%;
  width: 0.6vw;
  height: 0.6vw;

  animation-name: var(--ghost-pupils);
  animation-duration: 64s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
}

.inner-eye {
  background: blue;
  position: absolute;
    top: 25%;
    left: 50%;
  width: 0.6vw;
  height: 0.6vw;

  animation-name: var(--ghost-pupils);
  animation-duration: 16s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
}

.feet {
  animation-name: feet;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  background: var(--ghost-color);
  content: '';
  display: block;
  position: absolute;
    top: 78%;
    left: 0;
  width: 0.3vw;
  height: 0.4vw;
  font-size: 0.055vw;
}



@keyframes inky-pupils {
  0% {
    top: 30%;
    left: -2%;
  }
  12.5% {
    top: 80%;
    left: 20%;
  }
  25% {
    top: 30%;
    left: 50%;
  }
  37.5% {
    top: 0;
    left: -2%;
  }
  43.75% {
    top: 0;
    left: 50%;
  }

  50% {
    top: 30%;
    left: 50%;
  }
  62.5% {
    top: 80%;
    left: 20%;
  }
  75% {
    top: 30%;
    left: -2%;
  }
  87.5% {
    top: 0;
    left: 50%;
  }
  93.75% {
    top: 0;
    left: -2%;
  }

  100% {
    top: 30%;
    left: -2%;
  }
}

@keyframes inky-eyeballs {
  0% {
    top: 24%;
  }
  37.5% {
    top: 16%;
  }
  50% {
    top: 24%;
  }
  87.5% {
    top: 16%;
  }
  100% {
    top: 24%;
  }
}


@keyframes blinky-pupils {
  0% {
    top: 30%;
    left: 50%;
  }
  12.5% {
    top: 0;
    left: 20%;
  }
  25% {
    top: 30%;
    left: -2%;
  }
  37.5% {
    top: 80%;
    left: 50%;
  }
  43.75% {
    top: 80%;
    left: -2%;
  }
  50% {
    top: 30%;
    left: -2%;
  }
  62.5% {
    top: 0;
    left: 20%;
  }
  75% {
    top: 30%;
    left: 50%;
  }
  87.5% {
    top: 80%;
    left: -2%;
  }
  93.75% {
    top: 80%;
    left: 50%;
  }
  100% {
    top: 30%;
    left: 50%;
  }
}

@keyframes blinky-eyeballs {
  0% {
    top: 24%;
  }
  12.5% {
    top: 16%;
  }
  25% {
    top: 24%;
  }
  37.5% {
    top: 24%;
  }
  62.5% {
    top: 16%;
  }
  75% {
    top: 24%;
  }
  100% {
    top: 24%;
  }
}

@keyframes pinky-pupils {
  0% {
    top: 80%;
    left: -2%;
  }
  12.5% {
    top: 0;
    left: -2%;
  }
  25% {
    top: 0;
    left: 50%;
  }
  37.5% {
    top: 80%;
    left: 50%;
  }
  62.5% {
    top: 0;
    left: 50%;
  }
  75% {
    top: 0;
    left: -2%;
  }
  87.5% {
    top: 80%;
    left: -2%;
  }
  100% {
    top: 80%;
    left: -2%;
  }
}

@keyframes pinky-eyeballs {
  0% {
    top: 24%;
  }
  12.5% {
    top: 16%;
  }
  37.5% {
    top: 24%;
  }
  62.5% {
    top: 16%;
  }
  87.5% {
    top: 24%;
  }
}



@keyframes clyde-eyeballs {
  0% {
    top: 24%;
  }
  1.25% {
    top: 16%;
  }
  2.5% {
    top: 24%;
  }
  7.5% {
    top: 16%;
  }
  10% {
    top: 16%;
  }
  11.25% {
    top: 24%;
  }
  12.5% {
    top: 24%;
  }
  14.25% {
    top: 16%;
  }
  15% {
    top: 24%;
  }
  16.25% {
    top: 16%;
  }
  17.5% {
    top: 24%;
  }
  18.25% {
    top: 24%;
  }
  20% {
    top: 16%;
  }
  20.75% {
    top: 24%;
  }
  21.5% {
    top: 24%;
  }
  22% {
    top: 24%;
  }
  22.5% {
    top: 24%;
  }
  23.25% {
    top: 24%;
  }
  25% {
    top: 24%;
  }
  26% {
    top: 16%;
  }
  27% {
    top: 24%;
  }
  31% {
    top: 24%;
  }
  32.5% {
    top: 24%;
  }
  34% {
    top: 24%;
  }
  40% {
    top: 24%;
  }
  45% {
    top: 24%;
  }
  47% {
    top: 16%;
  }
  48% {
    top: 24%;
  }
  52% {
    top: 24%;
  }
  54% {
    top: 24%;
  }
  58% {
    top: 24%;
  }
  60% {
    top: 16%;
  }
  62% {
    top: 24%;
  }
  78.125% {
    top: 24%;
  }
  79.6875% {
    top: 24%;
  }
  81.25% {
    top: 24%;
  }
  82.8125% {
    top: 24%;
  }
  84.375% {
    top: 16%;
  }
  85.9375% {
    top: 24%;
  }
  87.5% {
    top: 24%;
  }
  89.0625% {
    top: 16%;
  }
  90.625% {
    top: 16%;
  }
  92.1875% {
    top: 24%;
  }
  93.75% {
    top: 24%;
  }
  95.3125% {
    top: 24%;
  }
  96.875% {
    top: 24%;
  }
  97.6% {
    top: 16%;
  }
  98.4375% {
    top: 16%;
  }
  99.2% {
    top: 24%;
  }
  100% {
    top: 24%;
  }
}

@keyframes clyde-pupils {
  0% {
    top: 30%;
    left: 50%;
  }
  1.25% {
    top: 0;
    left: 50%;
  }
  2.5% {
    top: 30%;
    left: 50%;
  }
  3.25% {
    top: 30%;
    left: -2%;
  }
  4.5% {
    top: 30%;
    left: 50%;
  }
  5% {
    top: 80%;
    left: 50%;
  }
  6.5% {
    top: 80%;
    left: -2%;
  }
  7.5% {
    top: 80%;
    left: 20%;
  }
  8% {
    top: 0;
    left: 20%;
  }
  8.75% {
    top: 0;
    left: 20%;
  }
  9.5% {
    top: 30%;
    left: 50%;
  }
  10% {
    top: 30%;
    left: 50%;
  }
  11.25% {
    top: 30%;
    left: 50%;
  }
  12% {
    top: 30%;
    left: 50%;
  }
  12.5% {
    top: 30%;
    left: 50%;
  }
  13.5% {
    top: 30%;
    left: -2%;
  }
  14.25% {
    top: 0;
    left: 50%;
  }
  15% {
    top: 30%;
    left: -2%;
  }
  16.25% {
    top: 0;
    left: 25%;
  }
  17.5% {
    top: 30%;
    left: -2%;
  }
  18.25% {
    top: 80%;
    left: 50%;
  }
  19.5% {
    top: 30%;
    left: -2%;
  }

  20% {
    top: 80%;
    left: 25%;
  }
  20.75% {
    top: 30%;
    left: 50%; 
  }
  21.5% {
    top: 30%;
    left: 50%;
  }
  22% {
    top: 80%;
    left: 20%;
  }
  22.5% {
    top: 30%;
    left: 50%;
  }
  23.25% {
    top: 30%;
    left: 50%;
  }
  24.25% {
    top: 30%;
    left: 50%;
  }
  25% {
    top: 0;
    left: 20%;
  }
  25.5% {
    top: 30%;
    left: -2%;
  }
  26% {
    top: 0;
    left: 0;
  }
  26.5% {
    top: 0;
    left: -2%;
  }
  27% {
    top: 30%;
    left: -2%;
  }
  28% {
    top: 0;
    left: 20%;
  }
  29% {
    top: 30%;
    left: 50%;
  }
  30% {
    top: 30%;
    left: -2%;
  }
  31% {
    top: 30%;
    left: 50%;
  }
  32.5% {
    top: 30%;
    left: -2%;
  }
  34% {
    top: 30%;
    left: 50%;
  }
  36% {
    top: 0;
    left: 50%;
  }
  37% {
    top: 80%;
    left: 50%;
  }
  39% {
    top: 0;
    left: 50%;
  }
  40% {
    top: 30%;
    left: 50%;
  }
  45% {
    top: 30%;
    left: 50%;
  }
  46.5% {
    top: 30%;
    left: -2%;
  }
  47% {
    top: 0;
    left: 20%;
  }
  48% {
    top: 30%;
    left: -2%;
  }
  52% {
    top: 30%;
    left: 50%;
  }
  53% {
    top: 80%;
    left: -2%;
  }
  54% {
    top: 30%;
    left: -2%
  }

  58% {
    top: 0;
    left: -2%;
  }
  59% {
    top: 80%;
    left: 50%;
  }
  59.5% {
    top: 0;
    left: 20%;
  }
  60% {
    top: 30%;
    left: -2%;
  }
  62% {
    top: 80%;
    left: 50%;
  }
  62.5% {
    top: 80%;
    left: -2%;
  }
  63.5% {
    top: 80%;
    left: 20%;
  }
  64.5% {
    top: 80%;
    left: 50%;
  }
  65.5% {
    top: 65%;
    left: 50%;
  }
  66.5% {
    top: 55%;
    left: 50%;
  }
  68% {
    top: 80%;
    left: -2%;
  }
  70% {
    top: 20%;
    left: 50%;
  }
  71% {
    top: 80%;
    left: 50%;
  }
  73% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 80%;
    left: -2%;
  }
  76% {
    top: 80%;
    left: 20%;
  }
  76.5% {
    top: 80%;
    left: 50%;
  }
  77% {
    top: 50%;
    left: 50%;
  }
  78.125% {
    top: 30%;
    left: 50%;
  }
  81.25% {
    top: 80%;
    left: 20%;
  }
  81.8% {
    top: 30%;
    left: 50%;
  }
  82.3% {
    top: 80%;
    left: 20%;
  }
  82.8125% {
    top: 30%;
    left: -2%;
  }
  84.375% {
    top: 0;
    left: 20%;
  }
  85.9375% {
    top: 30%;
    left: 50%;
  }
  87.5% {
    top: 80%;
    left: 20%;
  }
  88% {
    top: 30%;
    left: 50%;
  }
  88.5% {
    top: 80%;
    left: -2%;
  }
  89.0625% {
    top: 0;
    left: -2%;
  }
  89.5% {
    top: 35%;
    left: -2%;
  }
  92.1875% {
    top: 65%;
    left: -2%;
  }
  93.75% {
    top: 35%;
    left: -2%;
  }
  95.3125% {
    top: 80%;
    left: 50%;
  }
  96% {
    top: 80%;
    left: 20%;
  }
  96.4% {
    top: 80%;
    left: -2%;
  }
  96.875% {
    top: 25%;
    left: -2%;
  }
  97.6% {
    top: 0;
    left: 40%;
  }
  98.4375% {
    top: 25%;
    left: 50%;
  }
  99.2% {
    top: 20%;
    left: 50%;
  }
  100% {
    top: 30%;
    left: 50%;
  }
}


.row1, .row2, .row3 {
  display: inline-flex;
}

.d-word, .e-word, .v-word {
  position: relative;
  margin-left: 70px;
  animation-name: fade-in-out;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

@keyframes fade-in-out {
  0% {opacity: 0}
  25% {opacity: 1}
  50% {opacity: 1}
  100% {opacity: 0}
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

.row1 {
  position: absolute;
  animation-name: d;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.e {
  position: absolute;
  animation-name: e;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.v {
  position: absolute;
  animation-name: v;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.d-word {
  position: absolute;
  animation-name: d-word;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.e-word {
  position: absolute;
  animation-name: e-word;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.v-word {
  position: absolute;
  animation-name: v-word;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes d {
  0% {
    opacity: 0;
    top: 10%;
    left: 25%;
  }
  16% {
    opacity: 1;
    top: 10%;
    left: 45%;
  }
  33% {
    top: 10%;
    left: 30%;
  }
  50% {
    top: 10%;
    left: 30%;
  }
  66% {
    top: 10%;
    left: 50%;
  }
  83% {
    top: 10%;
    left: 50%;
  }
  100% {
    top: 10%;
    left: 30%;
  }
}

@keyframes e {
  0% {
    opacity: 0;
    top: 10%;
    left: 50%;
  }
  16% {
    opacity: 1;
    top: 10%;
    left: 50%;
  }
  33% {
    top: 20%;
    left: 30%;
  }
  50% {
    top: 20%;
    left: 30%;
  }
  66% {
    top: 10%;
    left: 60%;
  }
  83% {
    top: 10%;
    left: 60%;
  }
  100% {
    top: 20%;
    left: 30%;
  }
}

@keyframes v {
  0% {
    opacity: 0;
    top: 10%;
    left: 75%;
  }
  16% {
    opacity: 1;
    top: 10%;
    left: 55%;
  }
  33% {
    top: 30%;
    left: 30%;
  }
  50% {
    top: 30%;
    left: 30%;
  }
  66% {
    top: 10%;
    left: 40%;
  }
  83% {
    top: 10%;
    left: 40%;
  }
  100% {
    top: 30%;
    left: 30%;
  }
}

.sidebar {
  height: 100%;
  width: 150px;
  background-color: rgb(35, 35, 35);
  display: block;
  left: 0;
  top: 0;
  position: fixed;
}
.sidebar .links {
  padding-top: 35vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar a {
  color: white;
  display: block;
  padding-top: 3vh;
  font-size: 1rem;
}

.sidebar a:hover {
  color: rgb(0, 133, 22);
  text-decoration: none;
}